(
    frames : [
        SpriteDesc(
            pos: (97., 10.),
            size: (23., 27.),
            anchor: None,
        ),
        SpriteDesc(
            pos: (98., 58.),
            size: (23., 27.),
            anchor: None,
        ),
    ]
)