(
    frames : [
        SpriteDesc(
            pos: (8., 8.),
            size: (16., 32.),
            anchor: None,
        ),
        SpriteDesc(
            pos: (56., 8.),
            size: (16., 32.),
            anchor: None,
        ),
    ]
)