(
    frames : [
        SpriteDesc(
            pos: (1., 57.),
            size: (23., 28.),
            anchor: None,
        ),
        SpriteDesc(
            pos: (49., 57.),
            size: (23., 28.),
            anchor: None,
        ),
    ]
)