(
    frames : [
        SpriteDesc(
            pos: (1., 7.),
            size: (68., 54.), // 
            anchor: None,
        ),
        SpriteDesc(
            pos: (71., 8.),
            size: (68., 55.),
            anchor: None,
        ),
    ]
)