(
    frames : [
        SpriteDesc(
            pos: (0., 64.),
            size: (64., 64.),
            anchor: None,
        ),
        SpriteDesc(
            pos: (64., 64.),
            size: (64., 64.),
            anchor: None,
        ),
    ]
)