(
    frames : [
        SpriteDesc(
            pos: (0., 10.),
            size: (49., 38.), // 
            anchor: None,
        ),
        SpriteDesc(
            pos: (75., 10.),
            size: (49., 38.),
            anchor: None,
        ),
    ]
)